[submodule "third_party/bgfx"]
	path = third_party/bgfx
	url = https://github.com/bkaradzic/bgfx.git

[submodule "third_party/bx"]
	path = third_party/bx
	url = https://github.com/bkaradzic/bx.git

[submodule "third_party/bimg"]
	path = third_party/bimg
	url = https://github.com/bkaradzic/bimg.git

[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw.git

[submodule "third_party/bullet3"]
	path = third_party/bullet3
	url = https://github.com/bulletphysics/bullet3.git

[submodule "third_party/enet"]
	path = third_party/enet
	url = https://github.com/lsalzman/enet.git

[submodule "third_party/assimp"]
	path = third_party/assimp
	url = https://github.com/assimp/assimp.git

[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git

[submodule "third_party/RmlUi"]
	path = third_party/RmlUi
	url = https://github.com/mikke89/RmlUi.git

[submodule "third_party/Catch2"]
	path = third_party/Catch2
	url = https://github.com/catchorg/Catch2.git

[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt.git

[submodule "third_party/glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm.git

[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git

[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json.git

[submodule "third_party/stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb.git
[submodule "third_party/freetype"]
	path = third_party/freetype
	url = https://github.com/freetype/freetype.git
